<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= title %></title>

     <!-- Scripts -->
     <script src="/javascripts/elements/navbar-btns.js" defer></script>
</head>
<body>
     <h1>Hello World!</h1>
     <button id="proto-btn_return">RETURN HOME</button>
</body>
</html>