<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <link rel="stylesheet" href="../public/stylesheets/home.css" type="text/css">
    <link rel="stylesheet" href="../public/stylesheets/elements/fonts.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />

    <link rel="icon" href="../public/assets/icons/video_camera_icon.webp"/>

    <script src="../public/javascripts/#"></script>
    
</head>
<body>
    <nav class="navbar">
    <div class="navbar-left">
      <a href="home" class="nav-link">
         <div class="logo">Film Haven</div>
      </a>
    </div>

    <div class="search-container">
      <select class="search-filter">
        <option>All</option>
        <option>Movies</option>
        <option>Saved Movies</option>
      </select>
      <input type="text" placeholder="Search Film Haven" class="search-input">
      <span id="search-button" class="material-symbols-outlined">search</span>
    </div>

    <div class="navbar-right">
      <button id="login-btn">Sign In</button>
      <button id="logout-btn">Logout</button>

      <select class="lang-select">
        <option>EN</option>
        <option>ES</option>
      </select>
    </div>
  </nav>

  <br> <br>

  <div class="movie-conveyor__container">
    <section class="movie-conveyor__text">
      <h2>Latest Movie Releases</h2>
    </section>

    <section class="movie-conveyor__images">
      <!-- images will show dynamically -->
    </section>
  </div>

  <div class="featured-movies__container">
    <section class="featured-movies__text">
      <h2>Featured Movies</h2>
    </section>

    <section class="featured-movies__images">
      <!-- images will show dynamically -->
    </section>
  </div>

  <div class="top-rated-movies__container">
    <section class="top-rated-movies__text">
      <h2>Top 10 on TMDb this week</h2>
    </section>

    <section class="top-rated-movies__images">

    </section>
  </div>

  <div class="top-box-office">
    <section class="top-box-office__text">
      <h2>Top Box Office</h2>
    </section>

    <section class="top-box-office__data">
      <!-- data will show dynamically -->
    </section>
  </div>
</body>
</html>