<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3; url=index.ejs" />

    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/redirection.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/elements/fonts.css">

    <link rel="icon" href="/assets/icons/video_camera_icon.webp"/>
    
</head>
<body>
    <img src="/assets/icons/video_camera_icon.webp" class="flim-haven__logo" alt="flim-haven logo">
    <h1>redirecting you to Film Haven...</h1>

    <p class="warning_text">
        Looks like something went wrong with Film-Haven. 
        This page will automatically redirect you to the homepage in 2 - 3 seconds.
    </p>

    <h2>If you are not redirected automatically, follow <strong><a href="index.ejs">this link</a></strong>back to Film Haven.</h2>

</body>
</html>