#movie-recommendations {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding: 20px;
  height: fit-content;
  max-width: 100%;
  background-color: #121212;
  margin-top: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

#movie-recommendations::-webkit-scrollbar {
  height: 10px;
}

#movie-recommendations::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#movie-recommendations::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.movie-card {
  background-color: #420000;
  border-radius: 12px;
  overflow: hidden;
  flex: 0 0 auto;
  scroll-snap-align: start;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  color: #fcaf01;
  font-family: Arial, sans-serif;
  width: 250px;
}

.movie-card img {
  width: 100%;
  display: block;
  border-bottom: 3px solid #fcaf01;
}

.movie-content {
  background-color: #fcaf01;
  padding: 8px 10px;
  font-size: 14px;
  color: #420000;
  font-weight: bold;
}

.rating {
  color: #420000;
  font-weight: bold;
}

.star {
  margin-right: 5px;
}

h3 {
  margin: 10px;
  font-size: 16px;
  color: #fcaf01;
}

p {
  margin: 0 10px 10px 10px;
  font-size: 14px;
  color: #fcaf01;
}

.btn-grp {
  padding: 0 10px 12px 10px;
}

.btn {
  background-color: #fcaf01;
  color: #b90100;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgba(252, 177, 1, 0.589);
}
