@import "fonts.css";

html {
  height: 100%;
  width: 100%;
  font-family: limerick-serial-bold;
  background-color: #1a0d00;
}

body {
  margin: 0;
  padding: 0;
  background:#1a0d00;
  font-family: limerick-serial-bold;
}

.register_container {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 30px;
  border-radius: 8px;
}

.left h2, .right h2 {
  margin-bottom: 20px;
}

.left, .right {
  flex: 1;
  padding: 20px;
}

.left {
  border-right: 1px solid #ddd;
}

.btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  gap: 10px;
}

.btn img {
  height: 20px;
  width: 20px;
}

.btn.film_haven {
  background-color: #f6c700;
  font-weight: bold;
  border: none;
}

.btn.create{
  width: 100%;
  background-color: #f6c700;
  color: black;
  font-weight: bold;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
}

.terms_conditions {
  font-size: 12px;
  color: #666;
  margin-top: 15px;
}

.terms_conditions a {
  color: #0073bb;
  text-decoration: none;
}