html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: limerick-serial-bold;
  background-color: #1a0d00;
}

.register_container {
  display: flex;
  background: white;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  margin: 40px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
  width: 250px;
  padding-right: 30px;
  border-right: 1px solid #ddd;
  padding-right: 30px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  flex: 1;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111;
  max-width: 400px; /* prevent it from stretching into other columns */
  word-wrap: break-word;
}

.right p {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  max-width: 400px;
}

.benifits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.benifit {
  flex: 1 1 200px;
  max-width: 250px;
}

.benifit h4 {
  margin: 0 0 5px;
  font-size: 15px;
  font-weight: bold;
}

.benifit p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.btn {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.btn img {
  height: 20px;
  width: 20px;
}

.btn.film_haven {
  background-color: #f6c700;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn.create{
  width: 100%;
  background-color: #f6c700;
  color: black;
  font-weight: bold;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
}

.terms_conditions {
  font-size: 12px;
  color: #666;
  margin-top: 15px;
}

.terms_conditions a {
  color: #0073bb;
  text-decoration: none;
}