@font-face {
  font-family: 'limerick-serial-heavy';
  src: url('BENGUIAB.TTF') format('woff2');
  font-weight: bold;
}


@font-face {
  font-family: 'limerick-serial-regular';
  src: url('busorama.ttf') format('woff2');
  font-weight: normal;
}


@font-face {
  font-family: 'limerick-serial-bold';
  src: url('Aachen\ Bold.ttf') format('woff2');
  font-weight: bold;
}