@import 'fonts.css';

html {
    height: 100%;
    width: 100%;
    font-family: limerick-serial-bold;
    background-color: #1a0d00;
}

h1,
h2,
h3 {
    text-align: center;
    color: #fcaf01;
}

h2,
h3 {
    font-family: limerick-serial-regular;
}

h1 {
    font-size: 70px;
    text-shadow: 5px 5px red;
}

h2 {
    font-family: limerick-serial-heavy;
}

input,
button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-family: limerick-serial-regular;
    height: 30px;

}

button {
    background-color: #b90100;
    color: #fcaf01;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #fcaf01;
    color: #b90100;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.film_haven_logo {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.warning_login_txt {
    color: #fcaf01;
    text-align: center;
    font-family: limerick-serial-regular;
    font-size: 20px;
}

.forgot_password {
    color: #fcaf01;
    text-align: center;
    font-family: limerick-serial-regular;
    font-size: 20px;
    margin-top: 10px;
}

.link {
    color: #fcaf01;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}