@import 'fonts.css';

html {
    height: 100%;
    width: 100%;
    font-family: limerick-serial-bold;
    background-color: #1a0d00;
}

h1,
h2,
h3 {
    text-align: center;
    color: #fcaf01;
}

h2,
h3 {
    font-family: limerick-serial-regular;
}

h1 {
    font-size: 70px;
    text-shadow: 5px 5px red;
}

h2 {
    font-family: limerick-serial-heavy;
}

input,
button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-family: limerick-serial-regular;
    height: 30px;

}

button {
    background-color: #b90100;
    color: #fcaf01;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #fcaf01;
    color: #b90100;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.film_haven_logo {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.warning_login_txt {
    color: #fcaf01;
    text-align: center;
    font-family: limerick-serial-regular;
    font-size: 20px;
}

.forgot_password {
    color: #fcaf01;
    text-align: center;
    font-family: limerick-serial-regular;
    font-size: 20px;
    margin-top: 10px;
}

.link {
    color: #fcaf01;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

/**
* Code you see below is a work in progress. It is not yet complete and is subject to change.
*/
#carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

#carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

#movie-recommendations {
    display: flex;
    gap: 20px;
    /* Space between movie cards */
    padding: 20px 0;
    animation: scrollLeft 60s linear infinite;
    /* Slow down by increasing duration */
}

.movie-card {
    flex: 0 0 auto;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 10px;
}

.movie-card img {
    max-width: 100%;
    border-radius: 5px;
    height: auto;
}

#carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}